<h3>Crew</h3>
<ul>
  <li *ngFor="let item of crew">
    <span *ngIf="memberBeingEdited !== item; else elseBlock">
      <!-- display state of member -->
      <span (click)="edit(item)" class="editable-text">{{
        item.name
      }}</span>
      <span *ngIf="item.firstMission"> - 1st </span>
      <button (click)="remove(item)">remove</button>
    </span>

    <ng-template #elseBlock>
      <!-- edit state of member -->
      <input #updatedName (keyup.enter)="save(updatedName.value, item)" value="{{item.name}}"/>
      <button (click)="save(updatedName.value, item)">save</button>
    </ng-template>
  </li>
</ul>
<input
  id="editMember"
  #newName
  (keyup.enter)="addMember(newName.value, firstMission.checked)"
  type="text"
  placeholder="Name of Member"
  type="text"
/>
First Mission
<input #firstMission type="checkbox" />
<button (click)="addMember(newName.value, firstMission.checked)">Add</button>



