<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment">
    <span *ngIf="equipmentBeingEdited !== item; else elseBlock">
      <!-- display state of member -->
      <span (click)="edit(item)" class="editable-text">{{ item }}</span>
      <button (click)="remove(item)">remove</button>
    </span>

    <ng-template #elseBlock>
      <!-- edit state of member -->
      <input
        #updatedEquipment
        (keyup.enter)="save(updatedEquipment.value, item)"
        value="{{ item }}"
      />
      <button (click)="save(updatedEquipment.value, item)">save</button>
    </ng-template>
  </li>
</ul>

<input
  id="editEquipment"
  #newEquipment
  (keyup.enter)="addEquipment(newEquipment.value)"
  type="text"
  placeholder="Name of Equipment"
  type="text"
/>
<button (click)="addEquipment(newEquipment.value)">Add</button>
